language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"


env:
  - DJANGO=django==1.6.7
  - DJANGO=django==1.7


matrix:
  exclude:
    - python: "2.6"
      env: DJANGO=django==1.7


install:
  - pip install -q $DJANGO
  - pip install -q flake8
  - python setup.py install

before_script:
  - make flake8

script:
  - make test

after_success:
  - make coveralls
