[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
tox = "*"
flake8 = "*"
pytest-isort = "*"
"pytest-flake8" = "*"
pygments = "*"
sphinx = "*"
